@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.container{
  width: 1140px;
  margin: 0 auto;
}
.d-flex{
  display: flex;
}
.align-item-center{
  align-items: center;
}
.align-items-start{
  align-items: flex-start;
}
.justify-content-start{
  align-items: flex-start;
}
.justify-content-center{
  justify-content: center;
}
  .justify-content-around{
  justify-content: space-around;
}
.justify-content-evenly{
  justify-content: space-evenly;
}
.justify-content-between{
  justify-content: space-between;
}
.flex-direction-column{
  flex-direction: column;
}
:root{
  --brand-color: #434a5f;
  --link-color: #767b8a;
  --white: #fff;
  --rgbaText: rgba(0,0,0,0.7); 
  --btn: #ff4c4c;
  --bg-light-blog: rgba(0,0,0,0.03);
  --black: black;
  --icon-color: linear-gradient(75deg, #1c2e7b 10%, #e60264);
}
.hederActive{
  background-color: var(--white);
  transition: all 0.3s;
}
.hederActive ul li:nth-child(3) a{
  color: var(--btn);
}
.hederActive ul li a{
  color: black;
}
.hederActive .brand a{
  color: black;
}
.hederActive .menu-item i{
  color: var(--black);
}

.mt-20{
  margin-top: 20px;
}
.mt-15{
  margin-top: 15px;
}
.mt-10{
  margin-top: 10px;
}
.genrel-btn{
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 40px;
  border: 2px solid var(--white);
  background-color: var(--white);
  color: var(--brand-color);
}

  /* Start navbar */
.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.navbar{
  position: relative;
  padding: 20px 0;
}
.brand a{
  font-size: 34px;
  font-weight: 600;
  color: var(--white);
}
.menu-item{
  margin-right: 10px;
  color: var(--white);
}
.menu-item a{
  font-size: 15px;
  font-weight: 600;
  margin-right: 10px;
  color: var(--white);
}
.burger{
  display: none;
  width: 40px;
  height: 40px;
  background-color: var(--brand-color);
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 0;
  position: absolute;
  right: 0;
  top: 20px;
}
.burger .bar{
  width: 20px;
  height: 3px;
  background-color: var(--white);
}
/* End navbar */

/* start home section */
.section{
  width: 100%;
  height: 45vh;
  background-image: url("../img/inner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  padding-bottom: 70px;
}
.section::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 45vh;
  top: 0;
  left: 0;
  background: linear-gradient(75deg, rgb(22 37 103 / 90%) 10%, rgb(230 2 100 / 69%));
}
.home_mein {
  position: absolute;
  text-align: center;
}
.home_mein h1{
  color: var(--white);
  font-size: 25px;
  margin-bottom: 12px;
  text-align: center;
}
.home_mein span a{
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
  opacity: 0.8;
}
.home_mein span {
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
  opacity: 0.8;
  margin-left: 5px;
}

/* end home section */

/* start section 2 */
.section2{
  padding-top: 20px;
  padding-bottom: 100px;
}
.sec3-box{
  width: 32%;
  height: auto;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  border-radius: 0 0 4px 4px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.sec3-box:hover{
  box-shadow: 0 0.125rem 2rem rgb(0 0 0 / 8%);
}

.sec3-box:hover .sec3-text h1{
  color: var(--btn);
}
.sec3-box img{
  width: 100%;
}
.sec3-text{
  padding: 20px;
}
.sec3-text h1{
  font-size: 20px;
  color: var(--black);
  transition: all 0.5s;
  font-weight: 500;
}
.sec3-text p{
  font-size: 15px;
  color: var(--rgbaText);
  padding-top: 5px;
}
/* end section 2 */

/* start section two */
.section_two{
  width: 100%;
  margin-top: 100px;
  padding: 100px 0;
  background-color: rgba(0, 0, 0, 0.05);
}

.section_two-text{
  width: 50%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}
.section_two-text p{
  color: rgba(0,0,0,0.5);
  font-size: 18px;
  font-weight: 200;
}

.section_two-block{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1fr);
  grid-gap: 20px;
  /* border: 1px solid; */
}
.icons-section_two i{
  font-size: 35px;
  margin: 0 15px;
  color: rgb(245, 114, 114);
}
.icons-section_two i{
  background: var(--icon-color);
  -webkit-background-clip: text ;
  -webkit-text-fill-color: transparent;
}

.block-section{
  /* border: 1px solid; */
  padding: 40px 30px;
  background-color: var(--white);
}

.block-text-section_two a{
  font-size: 20px;
  color: black;
  font-weight: 600;
  transition: all .3s;
  cursor: pointer;
}
.block-text-section_two a:hover{
  color: lightcoral;
}

.section_two-block{
  margin-top: 100px;
}
.block-section{
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.block-section:hover{
  box-shadow: 0 10px 10px rgb(0 0 0 / 8%);
}
.block-text-section_two p{
  font-size: 15px;
  color: var(--rgbaText);
  margin: 10px 0;
  line-height: 30px;
}

.more{
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  transition: all .3s;
}
.more:hover{
  color: lightcoral;
}
.more:hover ~ .icue{
  /* transform: translateX(15px); */
  margin-left: 10px;
}
.submit{
  width: 100%;
  margin-top: 50px;
}

.submit a{
  background-color: var(--btn);
  color: var(--white);
  border: 1px solid var(--btn);
  transition: all .3s;
  /* background-attachment: ; */
}

.submit a:hover{
  background-color: transparent;
  color: var(--brand-color);
}

/* end section two */

/* section5 start */
.section5-call{
  padding: 50px 0;
}
.section5-left h1{
  font-weight: 500;
  /* margin-bottom: 5px; */
}
.section5-left p{
  font-size: 16px;
  color: #707070;
}
.section5-right span i{
  background: var(--icon-color);
  -webkit-background-clip: text ;
  -webkit-text-fill-color: transparent;
  font-size: 28px;
  margin-right: 10px;
}
.section5-right span:nth-child(2){
  font-size: 18px;
  font-weight: 500;
}
.section5-right span:nth-child(3){
  font-size: 16px;
  color: #767b8a;
  margin: 0 15px;
}
.section5-right span:last-child input{
  padding: 10px 30px;
  background-color: #e80566;
  border: 1px solid #e80566;
  color: var(--white);
  font-size: 16px;
  transition: all 0.25s ease-in;
  cursor: pointer;
  border-radius: 5px;
}
.section5-right span:last-child input:hover{
  background: transparent;
  color: #e80566;
}
/* section5 end */

/* start footer */
.footer{
  width: 100%;
  height: auto;
  background-image: var(--icon-color);
  padding: 70px 0;
}
.footer-bloc{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1fr);
}
.footer-box h1{
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 15px;
  text-transform: uppercase;
}
.footer-box p i{
  color: #fff;
  margin-right: 8px;
}
.footer-box p{
  margin-top: 10px;
  color: #fff;
}
.foo{
  color: #fff;
}
.footer-box p a:hover{
  text-decoration: underline;
}
.footer-box a{
  font-size: 12px;
  color: var(--white);
  opacity: 0.75;
  margin-top: 10px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.footer-box a:hover{
  opacity: 1;
}

/* footer end */
/* footer icont start*/
.footr-iconst{
  padding: 20px 0;
}
.icont-left span:first-child{
  font-size: 16px;
  color: var(--link-color);
}
.icont-left span:last-child{
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.icont-left span:last-child:hover{
  color: lightcoral;
}
.icont-right i{
  width: 30px;
  height: 30px;
  border: 1px solid;
  padding: 7px 8px;
  margin-left: 10px;
  background-color: #1c2e7b;
  color: var(--white);
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all .3s ease-in;
}
.icont-right i:hover{
  background-color: lightcoral;
}
/* footer icont end*/